# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
number_of_schools=len(school_data_complete["school_name"].unique())

In [7]:
number_of_students=school_data_complete["Student ID"].count()
number_of_students

39170

In [8]:
total_budget=school_data["budget"].sum()
total_budget

24649428

In [9]:
mean_math_scores=school_data_complete["math_score"].mean()
mean_math_scores

78.98537145774827

In [10]:
mean_reading_scores=school_data_complete["reading_score"].mean()
mean_reading_scores

81.87784018381414

In [11]:
overall_passing_rate= (mean_math_scores+mean_reading_scores)/2
overall_passing_rate

80.43160582078121

In [12]:
passing_math_count=school_data_complete[(school_data_complete["math_score"]) > 70].count()

In [13]:
passing_math_percent=passing_math_count/number_of_students *100

In [16]:
passing_reading_count=school_data_complete[(school_data_complete["reading_score"]) > 70].count()

In [17]:
passing_reading_percent=passing_reading_count/number_of_students *100

In [19]:
df=pd.DataFrame({
    "Number of Schools": [number_of_schools],
    "Number of Students": [number_of_students],
  "Average Reading Scores":[mean_reading_scores],
    "Passing Math Count": [passing_math_count],
    "Passing Math Percentage": [passing_math_percent],
                    "Passing Reading Count":[passing_reading_count],
                "Passing Reading Percentage":[passing_reading_percent]})

df

,Number of Schools,Number of Students,Average Reading Scores,Passing Math Count,Passing Math Percentage,Passing Reading Count,Passing Reading Percentage
0,15,39170,81.87784,Student ID 28356 student_name 28356 ...,Student ID 72.392137 student_name 72...,Student ID 32500 student_name 32500 ...,Student ID 82.971662 student_name 82...

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [14]:
df

,Number of Schools,Number of Students,Average Reading Scores,Passing Math Count,Passing Math Percentage,Passing Reading Count,Passing Reading Percentage
0,15,39170,81.87784,Student ID 28356 student_name 28356 ...,Student ID 72.392137 student_name 72...,Student ID 32500 student_name 32500 ...,Student ID 82.971662 student_name 82...

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [15]:
per_school_budget=school_data_complete.groupby(["school_name"]).mean()["budget"]

In [21]:
per_school_counts= school_data_complete["school_name"].value_counts()

In [17]:
per_school_capita= per_school_budget/ per_school_counts

In [18]:
per_school_math=school_data_complete.groupby(["school_name"]).mean()["math_score"]

In [19]:
per_school_reading= school_data_complete.groupby(["school_name"]).mean()["reading_score"]

In [22]:
per_school_passing_math= passing_math_percent.groupby(["school_name"]).count()["student_name"]

ValueError: Grouper for 'school_name' not 1-dimensional

In [23]:
per_school_passing_reading=passing_reading_percent.groupby(["school_name"]).count()["student_name"]/per_school_counts* 100

ValueError: Grouper for 'school_name' not 1-dimensional

## Top Performing Schools (By Passing Rate)

In [24]:
top_five_passing_rate=(int(overall_passing_rate.groupby(["school_name"]).head()

SyntaxError: unexpected EOF while parsing (<ipython-input-24-9b83fedbcdf9>, line 1)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [23]:
per_school_summary= pd.DataFrame({"Per School Budget": per_school_budget,
                                 "Total School Counts" : per_school_counts,
                                 "Per Student Budget" : per_school_capita,
                                 "Average Math Score" : mean_math_scores,
                                 "Average Reading Score" : mean_reading_scores})

In [24]:
per_school_summary.head()

,Per School Budget,Total School Counts,Per Student Budget,Average Math Score,Average Reading Score
Bailey High School,3124928.0,4976,628.0,78.985371,81.87784
Cabrera High School,1081356.0,1858,582.0,78.985371,81.87784
Figueroa High School,1884411.0,2949,639.0,78.985371,81.87784
Ford High School,1763916.0,2739,644.0,78.985371,81.87784
Griffin High School,917500.0,1468,625.0,78.985371,81.87784

## Scores by School Size

* Perform the same operations as above, based on school size.

In [26]:
# Sample bins. Feel free to create your own bins.
bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-4000)"]

In [27]:
per_school_summary= pd.cut(per_school_summary["Total School Counts"],bins, labels=labels)

In [27]:
math_score_groupby= per_school_summary.groupby(["Average Math Score"]).mean()

NameError: name 'per_school_summary' is not defined

In [28]:
reading_score_groupby= per_school_summary.groupby(["Average Reading Score"]).mean()

NameError: name 'per_school_summary' is not defined

## Scores by School Type

* Perform the same operations as above, based on school type.